.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
    text-align: center;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    }
    .alignleft{
    float: left;
    margin: 1px 4px 0 0;
    padding: 3px;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    }
    .alignright{
    float: right;
    margin: 1px 0 0 4px;
    padding: 3px;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    }
    .alignnone{
    margin: 1px 4px 0 0;
    padding: 3px;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    }