*{
    margin: 0;
    padding: 0;
}

body{
    display:flex;
    height: 100vh;
}

.container1{
    display: flex;
    flex-direction: column;
    width: 98vw;
    height: 80vh; 

}

.red{
    background-color: red;
    height: 200px;
    width: 200px;
    border-radius: 100%; 

}

.green{
    background-color: green;
    height: 200px;
    width: 200px;
    border-radius: 100px; 
    margin: 0px 0px 10px 0px;
}

.blue{
    background-color: blue;
    height: 200px;
    width: 200px;
    border-radius: 100%; 
}

.container2{
    display: flex;
    margin: 10 0 10 0px; 

}

.red{
    background-color: red;
    height: 200px;
    width: 200px;
    border-radius: 100%; 

}

.green{
    background-color: green;
    height: 200px;
    width: 200px;
    border-radius: 100px; 
    margin: 0px 0px 10px 0px;
}

.blue{
    background-color: blue;
    height: 200px;
    width: 200px;
    border-radius: 100%; 
}