/* *{
    margin: 0;
    padding: 0;
 }
 body{
    display: flex;
    height: 100vh;
 }
 .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .lista1{
    height: 200px;
    width: 200px;
    border-radius:100% ;
 }
 .lista2{
    height: 110px;
    width: 110px;
    border-radius:100% ;
 }
 .lista3{
    height: 110px;
    width: 110px;
    border-radius:100% ;
 }
 .lista4{
    height: 110px;
    width: 110px;
    border-radius:100% ;
 }
 .lista5{
    height: 110px;
    width: 110px;
    border-radius:100% ;
 } */