body{
    background: #000000;
}



.card{
    width: 250px;
    border-radius: 15px;
    padding: 20px;
    border: 1px solid rgb(253, 172, 172);
    background: #808080;
    box-shadow: 5px 5px 15px rgba(241, 185, 185, 0.5);
}

.card h1{
    text-align: center;
}

.model{
    display: none;
}