@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Young+Serif&display=swap');

@keyframes go-back {
    0% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0);
    }
}
*{
    padding: 0%;
    margin: 0px;
    box-sizing: 0px;
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: rgb(0, 0, 0);
  color: white;
  font-family: Poppins, sans-serif; 
  scroll-snap-type: y mandatory;
}


header{ 
   display: flex;
   justify-content: space-between;              
   margin: 10px; 
    align-items: center;
}     


.header{
  font-size: 20px;
  animation: go-back 1s;
}

.sobre{
    justify-content: space-evenly;  
    width: 20vw; 
    display: flex;
    font-size: 14px;
    animation: go-back 1s;
}   

.pro{
    margin-top: 6px;
    font-size: 19px;
    color: white;
    text-decoration: none;
    transition: all 0.5s ease 0s;
    animation: go-back 1s;
}

.pro:hover{
    color:  rgb(207, 52, 228);
    transform: translateX(19px) scale(1);

}

.sob{
  font-size: 1.2rem;
  padding: 1rem 1.5rem;
  border: none;
  outline: none;
  border-radius: 0.9rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgb(14, 14, 26);
  color: rgb(234, 234, 234);
  font-weight: 600;
  transition: 0.6s;
  box-shadow: 0px 0px 60px #b35df2;
  -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0,0,0,0.0), rgba(0,0,0,0.4));
    
}   
.sob:active {
  scale: 0.92;
}
.sob:hover{
  background: rgb(2,29,78);
  background: linear-gradient(270deg, rgba(1, 17, 48, 0.681) 0%,#380661 60%);
  color: rgb(255, 255, 255);
    
}

.cont{
    margin-top: 6px;
    font-size: 19px;
    color: white;
    text-decoration: none;
    transition: all 0.5s ease 0s;
  
}

.cont:hover{
    color: rgb(207, 52, 228);
  
    transform: translateX(10px) scale(1);
}


.main{
    margin: 21vh;
    animation: go-back 1s;
}

.wassup{
    
    display: flex;
    align-items: center;
    font-size: 7vh;
    font-style: bold;
    animation: go-back 1s;
}

.exc{
    color: rgb(25, 9, 97);
    font-size: 9vh;
}   

.texto1{
    font-size: 4vh;
    animation: go-back 1s;
}
.about{
    animation: go-back 1s;
}

.mae{
    display: flex;

}

.carti{
    margin:0 125vh;
    margin-top: -53vh;
    animation: go-back 11s; 
}



.pae{
    margin-top: 25vh;
    background-color:  rgb(0, 0, 0);
    height: 100vh;
}

.projetos{
    text-align: center;
    padding: 10vh;
    font-size: 3vh;
    align-items: center;
    margin-top: 49px;

}

.seta{
    text-align: center;
    margin-top: -5vh;
    width: 5vw;
    margin-left: 47.5vw;
    transition: all 0.5s ease 0s;
}

.seta:hover{
    
      transform: translateX(3px) scale(2);
}

.container {
    position: relative;
    width: 190px;
    height: 254px;
    transition: 200ms;
  }
  
  .container:active {
    width: 180px;
    height: 245px;
  }
  
  #card {
    position: absolute;
    inset: 0;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: 700ms;
    background: linear-gradient(43deg, rgb(254, 255, 255) 0%, rgb(148, 148, 148) 46%, rgb(43, 43, 43) 100%);
  }
  
  .subtitle {
    transform: translateY(160px);
    color: rgb(134, 110, 221);
    text-align: center;
    width: 100%;
  }
  
  .title {
    opacity: 0;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out-out;
    transition-delay: 100ms;
    position: absolute;
    font-size: x-large;
    font-weight: bold;
    color: white;
  }
  
  .tracker:hover ~ #card .title {
    opacity: 1;
  }
  
  #prompt {
    bottom: 8px;
    left: 12px;
    z-index: 20;
    font-size: 20px;
    font-weight: bold;
    transition: 300ms ease-in-out-out;
    position: absolute;
    max-width: 110px;
    color: rgb(255, 255, 255);
  }
  
  .tracker {
    position: absolute;
    z-index: 200;
    width: 100%;
    height: 100%;
  }
  
  .tracker:hover {
    cursor: pointer;
  }
  
  .tracker:hover ~ #card #prompt {
    opacity: 0;
  }
  
  .tracker:hover ~ #card {
    transition: 300ms;
    filter: brightness(1.1);
  }
  
  .container:hover #card::before {
    transition: 200ms;
    content: '';
    opacity: 80%;
  }
  
  .canvas {
    perspective: 800px;
    inset: 0;
    z-index: 200;
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: "tr-1 tr-2 tr-3 tr-4 tr-5"
      "tr-6 tr-7 tr-8 tr-9 tr-10"
      "tr-11 tr-12 tr-13 tr-14 tr-15"
      "tr-16 tr-17 tr-18 tr-19 tr-20"
      "tr-21 tr-22 tr-23 tr-24 tr-25";
  }
  
  #card::before {
    content: '';
    background: linear-gradient(43deg, rgb(73, 77, 95) 0%, rgb(156, 126, 154) 46%, rgb(95, 98, 131) 100%);
    filter: blur(2rem);
    opacity: 30%;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    transition: 200ms;
  }
  
  .tr-1 {
    grid-area: tr-1;
  }
  
  .tr-2 {
    grid-area: tr-2;
  }
  
  .tr-3 {
    grid-area: tr-3;
  }
  
  .tr-4 {
    grid-area: tr-4;
  }
  
  .tr-5 {
    grid-area: tr-5;
  }
  
  .tr-6 {
    grid-area: tr-6;
  }
  
  .tr-7 {
    grid-area: tr-7;
  }
  
  .tr-8 {
    grid-area: tr-8;
  }
  
  .tr-9 {
    grid-area: tr-9;
  }
  
  .tr-10 {
    grid-area: tr-10;
  }
  
  .tr-11 {
    grid-area: tr-11;
  }
  
  .tr-12 {
    grid-area: tr-12;
  }
  
  .tr-13 {
    grid-area: tr-13;
  }
  
  .tr-14 {
    grid-area: tr-14;
  }
  
  .tr-15 {
    grid-area: tr-15;
  }
  
  .tr-16 {
    grid-area: tr-16;
  }
  
  .tr-17 {
    grid-area: tr-17;
  }
  
  .tr-18 {
    grid-area: tr-18;
  }
  
  .tr-19 {
    grid-area: tr-19;
  }
  
  .tr-20 {
    grid-area: tr-20;
  }
  
  .tr-21 {
    grid-area: tr-21;
  }
  
  .tr-22 {
    grid-area: tr-22;
  }
  
  .tr-23 {
    grid-area: tr-23;
  }
  
  .tr-24 {
    grid-area: tr-24;
  }
  
  .tr-25 {
    grid-area: tr-25;
  }
  
  .tr-1:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(20deg) rotateY(-10deg) rotateZ(0deg);
  }
  
  .tr-2:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(20deg) rotateY(-5deg) rotateZ(0deg);
  }
  
  .tr-3:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(20deg) rotateY(0deg) rotateZ(0deg);
  }
  
  .tr-4:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(20deg) rotateY(5deg) rotateZ(0deg);
  }
  
  .tr-5:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(20deg) rotateY(10deg) rotateZ(0deg);
  }
  
  .tr-6:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(10deg) rotateY(-10deg) rotateZ(0deg);
  }
  
  .tr-7:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(10deg) rotateY(-5deg) rotateZ(0deg);
  }
  
  .tr-8:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(10deg) rotateY(0deg) rotateZ(0deg);
  }
  
  .tr-9:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(10deg) rotateY(5deg) rotateZ(0deg);
  }
  
  .tr-10:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(10deg) rotateY(10deg) rotateZ(0deg);
  }
  
  .tr-11:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(0deg) rotateY(-10deg) rotateZ(0deg);
  }
  
  .tr-12:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(0deg) rotateY(-5deg) rotateZ(0deg);
  }
  
  .tr-13:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  
  .tr-14:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(0deg) rotateY(5deg) rotateZ(0deg);
  }
  
  .tr-15:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(0deg) rotateY(10deg) rotateZ(0deg);
  }
  
  .tr-16:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(-10deg) rotateY(-10deg) rotateZ(0deg);
  }
  
  .tr-17:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(-10deg) rotateY(-5deg) rotateZ(0deg);
  }
  
  .tr-18:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(-10deg) rotateY(0deg) rotateZ(0deg);
  }
  
  .tr-19:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(-10deg) rotateY(5deg) rotateZ(0deg);
  }
  
  .tr-20:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(-10deg) rotateY(10deg) rotateZ(0deg);
  }
  
  .tr-21:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(-20deg) rotateY(-10deg) rotateZ(0deg);
  }
  
  .tr-22:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(-20deg) rotateY(-5deg) rotateZ(0deg);
  }
  
  .tr-23:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(-20deg) rotateY(0deg) rotateZ(0deg);
  }
  
  .tr-24:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(-20deg) rotateY(5deg) rotateZ(0deg);
  }
  
  .tr-25:hover ~ #card {
    transition: 125ms ease-in-out;
    transform: rotateX(-20deg) rotateY(10deg) rotateZ(0deg);
  }
  
  .noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
  
    -ms-user-select: none;
     
    user-select: none;
     }

.fio{
    height: 95vh;
    background-color:  rgb(0, 0, 0);
}

.sobre2{
    margin: 0 11vh;
    margin-top: 8vh;
    font-size: 4vh;

}

.texto{
    font-size: 2vh;
    margin: 0 11vh;
    margin-top: 5vh;
}



.jojo2{
    margin-left: -11vh;
    margin-top: 0.5vh;
    
}

.hab{
    margin: 0 11vh;
    font-size: 4vh;
    margin-top: -30vh;

}

.ht{
    margin: 0 11vh;
    margin-top: 2.5vh;
}

.cs{
    margin: 0 23vh;
    margin-top: -9.5vh;
}



.contato2 {
    padding: 21vh 0;
    padding-left: 20vh;
    font-size: 5vh;
}



.instacont{
    margin:0 29.5vh;
    margin-top: -52vh;

}

.ga{
    margin:0 9vh;
    margin-top: -3.7vh;
    font-size: 23px;
}

.ttcont{
    margin:0 29vh;
    margin-top: 6vh;

}

.ban{
    margin:0 9vh;
    margin-top: -3.5vh;
    font-size: 23px;
}

.gitcont{
    margin:0 29vh;
    margin-top: 5vh;
}

.gt{
    margin: 0 9vh;
    margin-top: -4.5vh;
    font-size: 23px;
}

@media(max-width: 460px) {
    
    .header{
        font-size: 5vh;
    }

    .sobre{
       margin:0 95vh;
    }
    .sob{
        margin: 0 5vh;
    }
    .wassup{
        font-size: 7vh;
    }
    .texto1{
        margin: 0 1vh;
    }
    
        
    }



    .card {
      
      width: 320px;
      height: 350px;
      padding: 20px;
      color: white;
      background: linear-gradient(#212121, #212121) padding-box,
                  linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
      border: 2px solid transparent;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      cursor: pointer;
      transform-origin: right bottom;
      transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
    }
    
    .card .main-content {
      flex: 1;
    }
    
    .card .header span:first-child {
      font-weight: 600;
      color: #717171;
      margin-right: 4px;
    }
    
    .card .heading {
      font-size: 24px;
      margin: 24px 0 16px;
      font-weight: 600;
    }
    
    .card .categories {
      display: flex;
      gap: 8px;
    }
    
    .card .categories span {
      background-color: #e81cff;
      padding: 4px 8px;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 12px;
      border-radius: 50em;
    }
    
    .card .footer {
      font-weight: 600;
      color: #717171;
      margin-right: 4px;
    }
    
    .card:hover {
      rotate: 8deg;
    }
  .button {
    position: relative;
    border: none;
    background: transparent;
    --stroke-color: #ffffff7c;
    --ani-color: rgba(95, 3, 244, 0);
    --color-gar: linear-gradient(90deg,#0026ffbe,#b949e6c0,#ffffff,#47076467);
    letter-spacing: 10px;
    font-size: 6em;
    font-family: "Arial";
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--stroke-color);
    cursor: pointer;
  }
  
  .front-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    background: var(--color-gar);
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 200%;
    overflow: hidden;
    transition: all 1s;
    animation: 8s ani infinite;
    border-bottom: 2px solid transparent;
  }
  
  .button:hover .front-text {
    width: 100%;
    border-bottom: 4px solid #3a2099;
    -webkit-text-stroke: 2px var(--ani-color);
  }
  
  @keyframes ani {
    0% {
      background-position: 0%;
    }
  
    50% {
      background-position: 300%;
    }
  
    100% {
      background-position: 0%;
    }
  }
  
  .assunto {
    margin: 28px;
    color: #b2aeb4de;
    margin-top: 4rem;
    line-height: 1.5;
    max-width: 60ch;

    
  }

  .card1 {
   
    width: 320px;
    height: 350px;
    padding: 20px;
    color: white;
    background: linear-gradient(#212121, #212121) padding-box,
                linear-gradient(145deg, transparent 35%,#e81cff, #0d6c92) border-box;
    border: 2px solid transparent;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transform-origin: right bottom;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card1 .main-content {
    flex: 1;
  }
  
  .card1 .header span:first-child {
    font-weight: 600;
    color: #717171;
    margin-right: 4px;
  }
  
  .card1 .heading {
    font-size: 24px;
    margin: 24px 0 16px;
    font-weight: 600;
  }
  
  .card1 .categories {
    display: flex;
    gap: 8px;
  }
  
  .card1 .categories span {
    background-color: #e81cff;
    padding: 4px 8px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 50em;
  }
  
  .card1 .footer {
    font-weight: 600;
    color: #717171;
    margin-right: 4px;
  }
  
  .card1:hover {
    rotate: 8deg;
    rotate: 9deg;
  }

  .card2 {
      
    width: 320px;
    height: 350px;
    padding: 20px;
    color: white;
    background: linear-gradient(#212121, #212121) padding-box,
                linear-gradient(145deg, transparent 35%,#e81cff, #40c9ff) border-box;
    border: 2px solid transparent;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transform-origin: right bottom;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card2 .main-content {
    flex: 1;
  }
  
  .card2 .header span:first-child {
    font-weight: 600;
    color: #717171;
    margin-right: 4px;
  }
  
  .card2 .heading {
    font-size: 24px;
    margin: 24px 0 16px;
    font-weight: 600;
  }
  
  .card2 .categories {
    display: flex;
    gap: 8px;
  }
  
  .card2 .categories span {
    background-color: #e81cff;
    padding: 5px 8px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    border-radius: 50em;
  }
  
  .card2 .footer {
    font-weight: 600;
    color: #717171;
    margin-right: 4px;
  }
  
  .card2:hover {
    rotate: 8deg;
  }

  .tudo {
    display: flex;
    justify-content: center;
    gap: 130px;
    
    
    
  }

  div .eu {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    background-color: #000000;
    
  }

  
div .ame {
  margin: 349px;
}  

.cert{
  display: flex;
  justify-content: center;
  margin-top: 13%;
  gap: 140px;
}   



.cardr {
  width: 200px;
  height: 200px;
  perspective: 1000px;
}

.card-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.999s;
}

.cardr:hover .card-inner {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card-front {
  
  background-color: #333333;
  color: #fff;
  display: flex;
  align-items: center;
  border: 50px solid #333333;
  justify-content: center;
  font-size: 24px;
  transform: rotateY(0deg);
}

.card-back {
  background-color: #000000;
  color: #fff;
  display: flex;
  align-items: center;
  border: 10px solid #000000;
  border-radius: 30px;
  justify-content: center;
  font-size: 54px;
  transform: rotateY(180deg);
}

.tex {
  margin-top: 60px;
  margin: 190px;
  line-height: 2.5em;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
  color: #ffffff;
}

.cube {
  margin: 20px;
  margin-top: 40px;
}

.cai {
  text-align: left;
  border: #40c9ff;
}

.projetos h1 {
  color:rgb(155, 149, 160);
  background-image:url(img/wall.jpg);
}

.a {
  align-items: center;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
  text-transform: uppercase;
  outline: 0;
  border: 0;
  padding: 1rem;
}

.a:before {
  background-color: #fff;
  content: "";
  display: inline-block;
  height: 1px;
  margin-right: 10px;
  transition: all .42s cubic-bezier(.25,.8,.25,1);
  width: 0;
}

.a:hover:before {
  background-color: #fff;
  width: 3rem;
}

.absolute {
  position: absolute;
}

.inline-block {
  display: inline-block;
}

.loader {
  display: flex;
  margin: 0.25em 0;
}

.w-2 {
  width: 0.5em;
}

.dash {
  animation: dashArray 2s ease-in-out infinite,
    dashOffset 2s linear infinite;
}

.spin {
  animation: spinDashArray 2s ease-in-out infinite,
    spin 8s ease-in-out infinite,
    dashOffset 2s linear infinite;
  transform-origin: center;
}

@keyframes dashArray {
  0% {
    stroke-dasharray: 0 1 359 0;
  }

  50% {
    stroke-dasharray: 0 359 1 0;
  }

  100% {
    stroke-dasharray: 359 1 0 0;
  }
}

@keyframes spinDashArray {
  0% {
    stroke-dasharray: 270 90;
  }

  50% {
    stroke-dasharray: 0 360;
  }

  100% {
    stroke-dasharray: 270 90;
  }
}

@keyframes dashOffset {
  0% {
    stroke-dashoffset: 365;
  }

  100% {
    stroke-dashoffset: 5;
  }
}

@keyframes spin {
  0% {
    rotate: 0deg;
  }

  12.5%,
  25% {
    rotate: 270deg;
  }

  37.5%,
  50% {
    rotate: 540deg;
  }

  62.5%,
  75% {
    rotate: 810deg;
  }

  87.5%,
  100% {
    rotate: 1080deg;
  }
}
.hobby .a {
  width: 230px;
  height: 354px;
  border-radius: 45px;
  background: #000000;
  box-shadow: 15px 15px 30px rgb(85, 85, 85),
              -15px -15px 30px rgb(68, 68, 68);
 }
 
 .hobby {
  display: flex;
  justify-content: center;
  gap: 130px;
 }

 .preto{
  margin-top: 40px;
 }
 
 .uiverse {
  justify-content: center;
  --duration: 7s;
  --easing: linear;
  --c-color-1: rgba(26, 255, 186, 0.7);
  --c-color-2: #1a23ff;
  --c-color-3: #e21bda;
  --c-color-4: rgba(217, 26, 255, 0.7);
  --c-shadow: rgba(255, 149, 87, 0.5);
  --c-shadow-inset-top: rgba(182, 181, 176, 0.9);
  --c-shadow-inset-bottom: rgba(255, 250, 215, .8);
  --c-radial-inner: #e989e4;
  --c-radial-outer: #caabf3;
  --c-color: #fff;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  outline: none;
  position: relative;
  cursor: pointer;
  border: none;
  display: table;
  border-radius: 24px;
  padding: 0;
  margin: 0;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: var(--c-color);
  background: radial-gradient(circle, var(--c-radial-inner), var(--c-radial-outer) 80%);
  box-shadow: 0 0 14px var(--c-shadow);
}

.uiverse:before {
  justify-content: center;
  content: '';
  pointer-events: none;
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 24px;
  box-shadow: inset 0 3px 12px var(--c-shadow-inset-top), inset 0 -3px 4px var(--c-shadow-inset-bottom);
}

.uiverse .wrapper {
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  overflow: hidden;
  border-radius: 24px;
  min-width: 132px;
  padding: 12px 0;
}

.uiverse .wrapper span {
  display: inline-block;
  position: relative;
  z-index: 1;
}

.uiverse .wrapper .circle {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  filter: blur(var(--blur, 8px));
  background: var(--background, transparent);
  transform: translate(var(--x, 0), var(--y, 0)) translateZ(0);
  animation: var(--animation, none) var(--duration) var(--easing) infinite;
}

.uiverse .wrapper .circle.circle-1, .uiverse .wrapper .circle.circle-9, .uiverse .wrapper .circle.circle-10 {
  --background: var(--c-color-4);
}

.uiverse .wrapper .circle.circle-3, .uiverse .wrapper .circle.circle-4 {
  --background: var(--c-color-2);
  --blur: 14px;
}

.uiverse .wrapper .circle.circle-5, .uiverse .wrapper .circle.circle-6 {
  --background: var(--c-color-3);
  --blur: 16px;
}

.uiverse .wrapper .circle.circle-2, .uiverse .wrapper .circle.circle-7, .uiverse .wrapper .circle.circle-8, .uiverse .wrapper .circle.circle-11, .uiverse .wrapper .circle.circle-12 {
  --background: var(--c-color-1);
  --blur: 12px;
}

.uiverse .wrapper .circle.circle-1 {
  --x: 0;
  --y: -40px;
  --animation: circle-1;
}

.uiverse .wrapper .circle.circle-2 {
  --x: 92px;
  --y: 8px;
  --animation: circle-2;
}

.uiverse .wrapper .circle.circle-3 {
  --x: -12px;
  --y: -12px;
  --animation: circle-3;
}

.uiverse .wrapper .circle.circle-4 {
  --x: 80px;
  --y: -12px;
  --animation: circle-4;
}

.uiverse .wrapper .circle.circle-5 {
  --x: 12px;
  --y: -4px;
  --animation: circle-5;
}

.uiverse .wrapper .circle.circle-6 {
  --x: 56px;
  --y: 16px;
  --animation: circle-6;
}

.uiverse .wrapper .circle.circle-7 {
  --x: 8px;
  --y: 28px;
  --animation: circle-7;
}

.uiverse .wrapper .circle.circle-8 {
  --x: 28px;
  --y: -4px;
  --animation: circle-8;
}

.uiverse .wrapper .circle.circle-9 {
  --x: 20px;
  --y: -12px;
  --animation: circle-9;
}

.uiverse .wrapper .circle.circle-10 {
  --x: 64px;
  --y: 16px;
  --animation: circle-10;
}

.uiverse .wrapper .circle.circle-11 {
  --x: 4px;
  --y: 4px;
  --animation: circle-11;
}

.uiverse .wrapper .circle.circle-12 {
  --blur: 14px;
  --x: 52px;
  --y: 4px;
  --animation: circle-12;
}

@keyframes circle-1 {
  33% {
    transform: translate(0px, 16px) translateZ(0);
  }

  66% {
    transform: translate(12px, 64px) translateZ(0);
  }
}

@keyframes circle-2 {
  33% {
    transform: translate(80px, -10px) translateZ(0);
  }

  66% {
    transform: translate(72px, -48px) translateZ(0);
  }
}

@keyframes circle-3 {
  33% {
    transform: translate(20px, 12px) translateZ(0);
  }

  66% {
    transform: translate(12px, 4px) translateZ(0);
  }
}

@keyframes circle-4 {
  33% {
    transform: translate(76px, -12px) translateZ(0);
  }

  66% {
    transform: translate(112px, -8px) translateZ(0);
  }
}

@keyframes circle-5 {
  33% {
    transform: translate(84px, 28px) translateZ(0);
  }

  66% {
    transform: translate(40px, -32px) translateZ(0);
  }
}

@keyframes circle-6 {
  33% {
    transform: translate(28px, -16px) translateZ(0);
  }

  66% {
    transform: translate(76px, -56px) translateZ(0);
  }
}

@keyframes circle-7 {
  33% {
    transform: translate(8px, 28px) translateZ(0);
  }

  66% {
    transform: translate(20px, -60px) translateZ(0);
  }
}

@keyframes circle-8 {
  33% {
    transform: translate(32px, -4px) translateZ(0);
  }

  66% {
    transform: translate(56px, -20px) translateZ(0);
  }
}

@keyframes circle-9 {
  33% {
    transform: translate(20px, -12px) translateZ(0);
  }

  66% {
    transform: translate(80px, -8px) translateZ(0);
  }
}

@keyframes circle-10 {
  33% {
    transform: translate(68px, 20px) translateZ(0);
  }

  66% {
    transform: translate(100px, 28px) translateZ(0);
  }
}

@keyframes circle-11 {
  33% {
    transform: translate(4px, 4px) translateZ(0);
  }

  66% {
    transform: translate(68px, 20px) translateZ(0);
  }
}

@keyframes circle-12 {
  33% {
    transform: translate(56px, 0px) translateZ(0);
  }

  66% {
    transform: translate(60px, -32px) translateZ(0);
  }
}
.branco{
  color: white;
}

